<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>
      mongoDB-后台管理系统
      <button class="exit">退出登录</button>
    </h1>
    <div>
      <div class="username">
        <span>用户名：</span>
        <input type="text" name="username" />
      </div>
      <div class="password">
        <span>密码：</span>
        <input type="password" name="password" />
      </div>
      <div>
        <button class="add">添加账户</button>
      </div>
      <hr />
      <button class="update">修改账号密码</button>
      <button class="delete">删除账号密码</button>
    </div>

    <div style="margin-top: 20px">
      <table border="1">
        <thead>
          <tr>
            <td>用户名</td>
            <td>密码</td>
          </tr>
        </thead>

        <tbody></tbody>
      </table>
    </div>

    <script>
      let btn = document.querySelector(".add");
      let username = document.querySelector("input[name=username]");
      let password = document.querySelector("input[name=password]");
      let updateBtn = document.querySelector(".update");
      let deleteBtn = document.querySelector(".delete");
      let tbody = document.querySelector("tbody");
      let exit = document.querySelector(".exit");

      // 退出登录
      exit.onclick = () => {
        fetch("/api/logout")
          .then((res) => res.json())
          .then((res) => {
            if (res.code === 200) {
              location.href = "/login";
            }
          });
      };

      // 添加用户
      btn.onclick = () => {
        console.log(username.value, password.value);
        fetch("/api/user", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            username: username.value,
            password: password.value,
          }),
        })
          .then((res) => res.json())
          .then((res) => console.log(222, res));
      };
      // 修改
      updateBtn.onclick = () => {
        fetch("/api/user/62f4dc380e20ee459b0d8f44", {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            username: username.value,
            password: password.value,
          }),
        })
          .then((res) => res.json())
          .then((res) => console.log(res));
      };
      // 删除
      deleteBtn.onclick = () => {
        fetch("/api/user/62f4dc380e20ee459b0d8f44")
          .then((res) => res.json())
          .then((res) => console.log(res));
      };

      // 一进入页面获取数据库信息
      fetch("/api/user/list?page=1&limit=2")
        .then((res) => res.json())
        .then((res) => {
          console.log(res);
          tbody.innerHTML = res
            .map(
              (item, index) => `
            <tr>
              <td>${item.username}</td>
              <td>${item.password}</td>
            </tr>
          `
            )
            .join("");
        });
    </script>
  </body>
</html>
