.closestyle131496 {
    font-size: 12px;
    color: #333333;
    text-decoration: none;
}

.closestyle233767 {
    font-size: 12px;
    color: #333333;
    text-decoration: none;
}

.li.l1-nav {
    width: 91px;
}