.color_darkcyan {
  color: darkcyan;
}

.color_darkkhaki {
  background-color: darkkhaki;
}

.xxx ul li {
  text-decoration: none;
}

/* 如果不想让样式被处理 */
:global(.native) {
  font-size: 18px;
}
